{% extends "basebook.html.twig" %}

{% block title %}Book!{% endblock %}

{% block body %}

    <div class="links-modele"></div>
<div class="sections">
    {% for media in user.media %}
        {% if media.destination == "section1" %}
            <section id="Head">
                <div style="position: relative;">
                    <img src="{{ asset('upload/' ~ media.nom) }}" class="media_book" alt="Une image ici" style="display: block; margin: 0 auto;">
                    <div class="highlight" style="position: absolute; top: 10%; right: 10%; padding: 2%;">
                        <h3>{{ modele.description }}</h3>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
    
    {% for media in user.media %}
        {% if media.destination == "section2" %}
            <section id="Biographie">
                <div style="position: relative; text-align: left;">
                    <img src="{{ asset('upload/' ~ media.nom) }}" class="media_book" alt="Une image ici" style="display: block; margin: 0 auto;">
                    <div class="highlight" style="position: absolute; top: 10%; right: 10%; padding: 2%;">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Prestations</th>
                                        <th>Prix</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tarif in tarifs %}	           
                                        <tr>
                                            <td>{{ tarif.prestations }}</td>
                                            <td>{{ tarif.prix }}€</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                </div>
            </section>
        {% endif %}
    {% endfor %}
    
    {% for media in user.media %}
        {% if media.destination == "section3" %}
            <section id="Bibliotheque">
                <div style="position: relative;">
                    <img src="{{ asset('upload/' ~ media.nom) }}" class="media_book" alt="Une image ici" style="display: block; margin: 0 auto;">
                    <div class="highlight" style="position: absolute; top: 10%; right: 10%; padding: 2%;">
                        <h3>Signes particuliers: {{ modele.signesParticuliers }}</h3>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
    
    {% for media in user.media %}
        {% if media.destination == "section4" %}
            <section id="Contact">
                <div style="position: relative;">
                    <img src="{{ asset('upload/' ~ media.nom) }}" class="media_book" alt="Une image ici" style="display: block; margin: 0 auto;">
                    <div class="highlight" style="position: absolute; top: 10%; right: 10%; padding: 2%;">
						<h3>Coordonnées :</h3>
                        <h3>
                            <a href="mailto:{{ user.email }}" style="text-decoration:none">{{ user.email }}</a>
                        </h3>
                        <h3>{{ user.ville }}</h3>
                        <h3>{{ user.codePostal }}</h3>
                        <h3>{{ user.pays }}</h3>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
