{% extends "basebook.html.twig" %}

{% block title %}Book!{% endblock %}

{% block body %}
<div class="sections">
    {% for media in user.media %}
        {% if media.destination == "section1" %}
            <section id="Head">
                <div style="position: relative;">
                    <img src="{{ asset('upload/' ~ media.nom) }}" class="media_book" alt="Une image ici" style="display: block; margin: 0 auto;">
                    <div class="highlight" style="position: absolute; top: 10%; right: 10%; padding: 2%;">
                        <h2>{{ modele.description }}</h2>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
    
    {% for media in user.media %}
        {% if media.destination == "section2" %}
            <section id="Biographie">
                <div style="position: relative; text-align: left;">
                    <img src="{{ asset('upload/' ~ media.nom) }}" class="media_book" alt="Une image ici" style="display: block; margin: 0 auto;">
                    <div class="highlight" style="position: absolute; top: 10%; right: 10%; padding: 2%;">
                        <h2>Couleur des yeux: {{ modele.couleurYeux }}</h2>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
    
    {% for media in user.media %}
        {% if media.destination == "section3" %}
            <section id="Bibliotheque">
                <div style="position: relative;">
                    <img src="{{ asset('upload/' ~ media.nom) }}" class="media_book" alt="Une image ici" style="display: block; margin: 0 auto;">
                    <div class="highlight" style="position: absolute; top: 10%; right: 10%; padding: 2%;">
                        <h2>Signes particuliers: {{ modele.signesParticuliers }}</h2>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
    
    {% for media in user.media %}
        {% if media.destination == "section4" %}
            <section id="Contact">
                <div style="position: relative;">
                    <img src="{{ asset('upload/' ~ media.nom) }}" class="media_book" alt="Une image ici" style="display: block; margin: 0 auto;">
                    <div class="highlight" style="position: absolute; top: 10%; right: 10%; padding: 2%;">
						<h2>Coordonnées :</h2>
                        <h2>
                            <a href="mailto:{{ user.email }}" style="text-decoration:none">{{ user.email }}</a>
                        </h2>
                        <h2>{{ user.ville }}</h2>
                        <h2>{{ user.codePostal }}</h2>
                        <h2>{{ user.pays }}</h2>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
