{% extends 'base.html.twig' %}

{% block title %}Modele Portfolio{% endblock %}

{% block body %}




<div class="example_wrapper_modele_index" style='background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url({{ asset('images/apn.png')}})'>
    <h1>Bienvenue sur Modèle Portfolio</h1> 

<div class="container_modele_index">
    <div class="links-modele">
    <div class="row py-3">
        <div class="col-5 order-2" id="sticky-sidebar">
            <div class="sticky-sm-top">
                <div class="nav flex-column">
        <a href={{ url('app_modele_modeleprofile') }} class="index_button">Mes Informations</a><br>
        <a href={{ url('app_modele_tarifs_form') }} class="index_button">Mes Tarifs</a><br> 
        <a href={{ url('app_modele_media_create') }} class="index_button">Mes Médias</a><br>
        <a href={{ url('app_modele_user_informations', {'id': user.id}) }} class="index_button">Mon compte</a>

                </div>
            </div>
        </div>
</div

{% endblock %}      
