{% extends 'base.html.twig' %}

{% block title %}Modele Portfolio{% endblock %}

{% block body %}


<script>
    /* Valeur true ou false selon le rôle */;
    var isModele = {{ is_granted('ROLE_MODELE') ? 'true' : 'false' }};
    var isPhotographe = {{ is_granted('ROLE_PHOTOGRAPHE') ? 'true' : 'false' }};
</script>

<div class="example_wrapper_modele_index" style='background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url({{ asset('images/apn.png' )  }})'>
    <h1>Bienvenue sur Modèle Portfolio</h1> 

<div class="container_modele_index">
    <div class="row py-3" id="links-modele">
        <div class="col-5 order-2" id="sticky-sidebar">
            <div class="sticky-sm-top">
                <div class="nav flex-column">
        <a href={{ url('app_modele_modeleprofile') }} class="btn btn-outline-success">Mes Informations</a> 
        {# <a href={{ url('app_modele_disponibilites') }} class="btn btn-outline-success">Disponibilités</a>   #}
        {# <a href={{ url('app_modele_contacts') }} class="btn btn-outline-success">Contacts</a>   #}
        {# <a href='#' class="btn btn-outline-success">Livre d'Or</a> #}
        {# <a href={{ url('app_modele_reseaux_sociaux') }} class="btn btn-outline-success">Réseaux Sociaux</a>  #}
        {# <a href={{ url('app_modele_statistiques') }} class="btn btn-outline-success">Statistiques</a>  #}
        {# <a href='#' class="btn btn-outline-success">Mobilité</a>  #}
        <a href={{ url('app_modele_tarifs_form') }} class="btn btn-outline-success">Tarifs</a> 
        <a href={{ url('app_modele_media_create') }} class="btn btn-outline-success">Media</a> 
        <a href={{ url('app_modele_app_product_show') }} class="btn btn-outline-success">Galleries</a> 
        <a href={{ url('app_modele_app_gallerie_new') }} class="btn btn-outline-success">Ajouter Galleries</a> 
                </div>
            </div>
        </div>


{% endblock %}      
