{% extends 'base.html.twig' %}

{% block body %}

<h1>Ajouter des medias</h1>

<!-- Bouton pour accéder à la liste des médias -->
 <button><a href="{{ path('app_modele_media_list') }}" >Liste des médias</a></button>

 <h5><br>La DESTINATION choisie pour votre Media selectionnera son endroit de visualisation<br>
 Les SECTIONS seront affichées sur votre BOOK,<br>  
 les GALLERIES seront affichées dans votre bibliothèque</h5>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.destination) }}
    {{ form_row(form.description) }}
    {{ form_row(form.Ajouter) }}
{{ form_end(form) }}




{% endblock %}
