{% extends 'base.html.twig' %}

{% block body %}
<!-- Bouton pour accéder à la liste des médias -->
<a href="{{ path('app_modele_media_list') }}" class="index_button">Liste des médias</a>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.destination) }}
    {{ form_row(form.description) }}
    {{ form_row(form.Ajouter) }}
{{ form_end(form) }}



{% endblock %}
