{% extends 'base.html.twig' %}

{% block title %}Liste des médias{% endblock %}

{% block body %}

    
    <h1>Liste des médias</h1>

        <!-- Bouton pour accéder à la liste des médias -->
    <a href="{{ path('app_modele_media_create') }}" class="index_button">Ajouter des médias</a>
    {% if medias is empty %}
        <p>Aucun média trouvé.</p>
    {% else %}
        <div class="row">
            {% for media in user.media %}
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <img src="{{ asset('upload/' ~ media.nom) }}" class="card-img-top" alt="{{ media.nom }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ media.nom }}</h5>
                            <h5 class="card-title">{{ media.destination }}</h5>
                            <a href="{{ path('app_modele_media_delete', {'id': media.id}) }}" class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% endif %}
        </div>
{% endblock %}
