{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
 <link rel="stylesheet" href="app.css"/>

 <style>
 
    h1 {
        text-align: center;
        color: darkcyan;
 }

    .form {
        font-weight: bold;
 }


 </style>
<h1>Completez votre profil Modèle</h1>
{{form_start(form)}}

<div class="form">
 {{ form_row(form.couleur_yeux) }}
{{ form_row(form.couleur_cheveux) }} 
{{ form_rest(form)}}
</div>

{{form_end(form)}}
<button type="submit" class="btn btn-outline-success">Modifier</button>
{% endblock %}