{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}



<h1>Completez votre profil Modèle</h1>
<div class='Container_parent'>
<div class="Container">
{{form_start(form)}}
<button type="submit" class="index_button">Modifier</button>


 {# {{ form_row(form.couleur_yeux) }}
{{ form_row(form.couleur_cheveux) }} 
{{ form_rest(form)}} #}

{{form_end(form)}}
</div>
</div>
{# </div> #}

{% endblock %}