{% extends 'base.html.twig' %}

{% block title %}Ajout Tarifs{% endblock %}

{% block body %}

    {% block form_row %}        

	 {{ form_start(form, { 'attr': {'id': 'tarifForm'} }) }}  

    <label for="{{ form.prestations.vars.id }}" class="form_prestations">Prestation</label>
    {{ form_widget(form.prestations, {'attr': {'id': 'tarifForm'}}) }}

     <label for="{{ form.prix.vars.id }}" class="form_prix">Prix</label>
    {{ form_widget(form.prix, {'attr': {'id': 'tarifForm'}}) }}

     {{ form_widget(form) }}

    

	<button type="submit" class="btn btn-outline-success">Sauvegarder</button>

    {% endblock form_row %}
	{{ form_end(form) }} 
	<button type="button" id="add-input" class="btn btn-primary">Ajouter un tarif</button>

	<div id="forms"></div>

    <div id="list-tarifs">
<table id="tarifs_modele">
    <thead>
	<br>
        <tr>
            <th>Prestations</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
        {% for tarif in tarifsUser %}
            <tr>
                <td>{{ tarif.prestations }}</td>
                <td>{{ tarif.prix }}€</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    </div>

<script>
		// Ajoute un nouveau champ input
	const form = document.getElementById('tarifForm');
	document.getElementById('add-input').addEventListener('click', function () {
	console.log(form)
	const cloneForm = form.cloneNode(true);
	document.getElementById('forms').appendChild(cloneForm);
	});

</script>

{% endblock %}
