{% extends 'base.html.twig' %}

{% block title %}Ajout Tarifs{% endblock %}

{% block body %}
<h1>Complêtez vos tarifs</h1>
<div class="tarif_template">
    {% block form_row %}        
<div class="Container_parent">
<div class="Container">
        {{ form_start(form, { 'attr': {'id': 'tarifForm'} }) }}  
        <div class="container">
        <div class="form-group">
            <label for="{{ form.prestations.vars.id }}">Prestation</label>
            {{ form_widget(form.prestations, {'attr': {'class': 'form-control'}}) }}
        
        
        <div class="form-group">
            <label for="{{ form.prix.vars.id }}">Prix</label>
            {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
        </div>
        <br>
        <button type="submit">Sauvegarder</button>
        
        {{ form_end(form) }} 
    {% endblock form_row %}

    <button type="button" id="add-input">Ajouter un tarif</button>
        </div>  

{% if tarifsUser is not empty %}
<br>

    <div id="list-tarifs">
        <table class="table table-info">
            <thead class="thead-dark">
                <tr>
                    <th>Prestations</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tarif in tarifsUser %}
                    <tr>
                        <td>{{ tarif.prestations }}</td>
                        <td>{{ tarif.prix }}€</td>
                        <td>
                            <form style="display: inline-block;" action="{{ path('app_modele_edit_tarif', {'id': tarif.id}) }}" method="get">
                                <button type="submit" >Modifier</button>
                            </form>
                            <form style="display: inline-block;" action="{{ path('app_modele_delete_tarifs', {'id': tarif.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce tarif ?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tarif.id) }}">
                                <button type="submit" >Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="tarifforms"></div>
    </div>  
       {% endif %}
</div>
</div>
</div>
    <script>
        const form = document.getElementById('tarifForm');
        document.getElementById('add-input').addEventListener('click', function () {
            const cloneForm = form.cloneNode(true);
            document.getElementById('tarifforms').appendChild(cloneForm);
        });
    </script>

{% endblock %}
