{% extends "basebook.html.twig" %}

{% block title %}Book!
{% endblock %}

{% block body %}

	<script>
		/* Valeur true ou false selon le rôle */;
var isModele = {{ is_granted('ROLE_MODELE') ? 'true' : 'false' }};
var isPhotographe = {{ is_granted('ROLE_PHOTOGRAPHE') ? 'true' : 'false' }};
	</script>


	{% for media in user.media %}
		{# {% set destination = media.destination %} #}

			{% if media.destination == "section1" %}
		<section id="Head">
				<img src="{{ asset('upload/' ~ media.nom)}} alt=" une image ici">
			{% endif %}
		</section>

			{% if media.destination == "section2" %}
		<section id="Biographie">
				<img src="{{ asset('upload/' ~ media.nom)}} alt=" une image ici">
			{% endif %}
		</section>

			{% if media.destination == "section3" %}
		<section id="Bibliotheque">
				<img src="{{ asset('upload/' ~ media.nom)}} alt=" une image ici">
			{% endif %}
		</section>

			{% if media.destination == "section4" %}
		<section id="Contact">
				<img src="{{ asset('upload/' ~ media.nom)}} alt=" une image ici">
				<p>
					<a href="tel:6.01.02.03.04" style="text-decoration:none">06.01.02.03.04</a>
				</p>
				<p>
					<a href="mailto:modele1@gmail.com" style="text-decoration:none">modele1@gmail.com</a>
				</p>

			{% endif %}
		</section>

	{% endfor %}
{% endblock %}

