{% extends 'base.html.twig' %}

{% block title %}Photographe Portfolio{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Bienvenue sur Photographe Portfolio</h1> 

<div class="container_index_photographe">
    <div class="row py-3">
        <div class="col-5 order-2" id="sticky-sidebar">
            <div class="sticky-sm-top">
                <div class="nav flex-column">
        <a href={{ url('app_photographe_photographe_profile') }} class="btn btn-outline-secondary">Mes Informations</a>  
        {# <a href={{ url('app_modele_disponibilites') }} class="btn btn-outline-secondary">Disponibilités</a>   #}
        <a href='#' class="btn btn-outline-secondary">Contacts</a>  
        {# <a href='#' class="btn btn-outline-secondary">Livre d'Or</a> #}
        {# <a href={{ url('app_modele_reseaux_sociaux') }} class="btn btn-outline-secondary">Réseaux Sociaux</a>  #}
        {# <a href={{ url('app_modele_statistiques') }} class="btn btn-outline-secondary">Statistiques</a>  #}
        <a href='#' class="btn btn-outline-secondary">Mobilité</a> 
        <a href={{ url('app_photographe_tarifs_form') }} class="btn btn-outline-secondary">Tarifs</a> 
                </div>
            </div>
        </div>


{% endblock %}      
