{% extends 'base.html.twig' %}

{% block title %}Photographe Portfolio{% endblock %}

{% block body %}

<script>
    /* Valeur true ou false selon le rôle */;
    var isModele = {{ is_granted('ROLE_MODELE') ? 'true' : 'false' }};
    var isPhotographe = {{ is_granted('ROLE_PHOTOGRAPHE') ? 'true' : 'false' }};
</script>


<div class="example-wrapper_photographe_index" style='background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url({{ asset('images/apn.png' )  }})'>
    <h1>Bienvenue sur Photographe Portfolio</h1> 

<div class="container_index_photographe">
    <div class="row py-3" id="links-photographe">
        <div class="col-5 order-2" id="sticky-sidebar">
            <div class="sticky-sm-top">
                <div class="nav flex-column">
        <a href={{ url('app_photographe_photographe_profile') }} class="index_button">Mes Informations</a><br>  
        <a href={{ url('app_photographe_tarifs_form') }} class="index_button">Mes Tarifs</a><br>
        <a href={{ url('app_photographe_media_create') }} class="index_button">Mes Media</a> <br>
        <a href={{ url('app_photographe_user_informations', {'id': user.id}) }} class="index_button">Mes infos</a>

                </div>
            </div>
        </div>


{% endblock %}      
