{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Modifier vos informations utilisateur</h1>  
    <div class='Container_parent'>
        <div class="Container">
            {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.ville) }}
                {{ form_row(form.code_postal) }}
                {{ form_row(form.pays) }}
                {{ form_row(form.plainPassword, {
                      'label': 'Mot de passe',
                }) }}
                {{ form_row(form.role, {
                    'label': 'Rôle',
                    'checked': true,
                }) }}
                {{ form_row(form.agreeTerms) }}
                <button type="submit" class="index_button">Enregistrer</button>
            {{ form_end(form) }}

        {# <button class="index_button"><a href="{{ url('app_modele_FAQ') }}" >F A Q</a></button> #}
        <a href={{ url('app_photographe_FAQ') }} class="index_button">Suppression du compte</a>


        </div>
    </div>
{% endblock %}
